body {
  font-size: 1.2 rem;
  text-align: center;
}

h1 {
  font-size: 1.6rem;
  font: weight 700;
  margin: bottom 20px;
  margin: top 40px;
  
}

p {
  border: 1px solid crimson;
  border-bottom:3px dashed green;
  width:400px;
 margin-left: 100px;
  margin: 0 auto; /* horizontal centering */
  /* padding-left:20px;
  padding: bottom 30px;; */
  padding:30px;
  
  
}
.vcenter
line-height:260px;
/* height 300 padding 20 30-20-270 */

span{
    color:blueviolet;
    /* display:block */
display:none;