body {
  background-color: black;
  /* The colour pallete of aliceblue and red typography for the headings contrasts with each other. 
  The aliceblue shade is not too strong but not too light either */
  font-size: 1.1em;
  line-height: 1.3em;
  font-weight: 400px;
  font-style: normal;
}

section {
  text-align: center;
  border: 6px solid white;
  /* a thick border ensures clarity between text and edges of page */
  margin: 20px;
  border: 4px solid white;
}

.image-container {
  display: flex;
  gap: 15px;
}

.image-container img {
  width: 200px;
  height: 300px;
}

#first-para {
  font-family: "Roboto Flex ", system-ui;
  font-weight: 400;
  font-style: normal;
}

#second-para {
  font-family: "Roboto Flex ", system-ui;
  font-weight: 400;
  font-style: normal;
}

#third-para {
  font-family: "Roboto Flex ", system-ui;
  font-weight: 400;
  font-style: normal;
}

#fourth-para {
  font-family: "Roboto Flex ", system-ui;
  font-weight: 400;
  font-style: normal;
}

#fifth-para {
  font-family: "Roboto Flex ", system-ui;
  font-weight: 400;
  font-style: normal;
}

#sixth-para {
  font-family: "Roboto Flex ", system-ui;
  font-weight: 400;
  font-style: normal;
}

#seventh-para {
  font-family: "Roboto Flex ", system-ui;
  font-weight: 400;
  font-style: normal;
}

#eighth-para {
  font-family: "Roboto Flex ", system-ui;
  font-weight: 400;
  font-style: normal;
}

#ninth-para {
  font-family: "Roboto Flex ", system-ui;
  font-weight: 400;
  font-style: normal;
}

#tenth-para {
  font-family: "Roboto Flex ", system-ui;
  font-weight: 400;
  font-style: normal;
}

#eleventh-para {
  font-family: "Roboto Flex ", system-ui;
  font-weight: 400;
  font-style: normal;
}

#twelfth-para {
  font-family: "Roboto Flex ", system-ui;
  font-weight: 400;
  font-style: normal;
}

#thirteenth-para {
  font-family: "Roboto Flex ", system-ui;
  font-weight: 400;
  font-style: normal;
}
/* changing the font style of the paragrah to Roboto Flex ensured better contrast with the overall style of the webpage and the photos */

h1 {
  color: black;

  font-family: "Boldonse", system-ui;
  /* The Boldonse border highlights the title and seperates it from the rest of the contents on the page  */
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Shadows Into Light", cursive;
  /* The use of a playful, casual font encourages the reader to be attracted to the webpage  */
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-size: 1.4em;
  /* A greater word size improves readability for viewers */
  color: red;
}

p {
  padding: 20px;
}

.dashed {
  border: 3px dashed black;
  /* a dashed border around the pictures adds to the colourful appearance of Palat's website  */
  width: 500px;
  height: 200px;
  border-color: white;
}
body {
  background-color: black;
  color: white;
}

h1 {
  color: white;
}

h2 {
  color: red;
}

p,
#first-para,
#second-para,
#third-para,
#fourth-para,
#fifth-para,
#sixth-para,
#seventh-para,
#eighth-para,
#ninth-para,
#tenth-para,
#eleventh-para,
#twelfth-para,
#thirteenth-para {
  color: white;
}
