body {
  background-color: aliceblue;
  /* The colour pallete of aliceblue and red typography for the headings contrasts with each other. 
  The aliceblue shade is not too strong but not too light either */
  font-size: 1.1em;
  line-height: 1.3em;
  font-weight: 400px;
  font-style: normal;
}

section {
  text-align: justify;
  border: 6px solid black;
  /* a thick border ensures clarity between text and edges of page */
  margin: 20px;
  border: 3px dashed black;
}

h1 {
  color: black;

  font-family: "Boldonse", system-ui;
  /* The Boldonse border highlights the title and seperates it from the rest of the contents on the page  */
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Shadows Into Light", cursive;
  /* The use of a playful, casual font encourages the reader to be attracted to the webpage  */
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-size: 1.4em;
  /* A greater word size improves readability for viewers */
  color: red;
}

p {
  padding: 20px;
}

.dashed {
  border: 3px dashed black;
  /* a dashed border around the pictures adds to the colourful appearance of Palat's website  */
  width: 500px;
  height: 200px;
  border-color: blue;
}
