h1 {
  color: black;
  text-align: center;
  font-family: "Fuzzy Bubbles", sans-serif;
  /*  comment abt font  */
  font-weight: 550;
  font-style: normal;
  font-size: 60px;
  margin-top: 40px;
  margin-top: 0;
  padding-top: 0;
}

body {
  background-color: pink;
  margin: 0;
  padding: 5cm; /* leave 5cm space inside the body edges */
  border: 3px dashed black; /* your dotted border */
  box-sizing: border-box; /* include border in padding */
  height: 100vh;
}

.masonry {
  column-count: 3;
  column-gap: 20px;
}

.masonry div {
  break-inside: avoid;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.masonry img {
  width: 100%;
  display: block;
}
