body {
  margin: 0;
  background-color: pink;
}

.page-border {
  border: 5px dashed black;
  padding: 20px; /* space inside border for content */
  margin: 20px; /* space outside border, between border and window edge */
  box-sizing: border-box;
  min-height: calc(100vh - 40px); /* 100vh minus top+bottom margin */
}

h1 {
  text-align: center;
  font-family: "Fuzzy Bubbles", sans-serif;
  color: black;
  font-size: 60px;
  font-weight: 550;
}

.masonry {
  column-count: 3;
  column-gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.masonry img {
  width: 100%;
  display: block;
  border-radius: 8px;
}
